@using EliteAthleteApp.Models.TrainingOrm

@model TrainingOrmCreateVM

@{
	ViewData["Title"] = "Create";
}

<form asp-action="Create">
	<input type="hidden" asp-for="UserId" />
	<input type="hidden" asp-for="CreatedToday" />
	<input type="hidden" asp-for="CreationDate" value="@DateTime.Now" />
	<div class="container">
		<div class="row">
			<div class="col-md-3 form-group">
				<strong><label asp-for="BenchPressOrm" class="control-label"></label></strong>
				<input asp-for="BenchPressOrm" class="form-control" />
				<span asp-validation-for="BenchPressOrm" class="text-danger"></span>
			</div>
			<div class="col-md-3 form-group">
				<strong><label asp-for="OverheadPressOrm" class="control-label"></label></strong>
				<input asp-for="OverheadPressOrm" class="form-control" />
				<span asp-validation-for="OverheadPressOrm" class="text-danger"></span>
			</div>
			<div class="col-md-3 form-group">
				<strong><label asp-for="SquatOrm" class="control-label"></label></strong>
				<input asp-for="SquatOrm" class="form-control" />
				<span asp-validation-for="SquatOrm" class="text-danger"></span>
			</div>
			<div class="col-md-3 form-group">
				<strong><label asp-for="DeadliftOrm" class="control-label"></label></strong>
				<input asp-for="DeadliftOrm" class="form-control" />
				<span asp-validation-for="DeadliftOrm" class="text-danger"></span>
			</div>
		</div>
		<div class="row align-items-end">
			<div class="form-group col-md-8">
				<strong><label asp-for="DateTime" class="control-label"></label></strong>
				<input asp-for="DateTime" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
				<span asp-validation-for="DateTime" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4 text-end">
				<button type="submit" class="btn btn-outline-primary-a"><strong>Create</strong></button>
			</div>
		</div>
	</div>
</form>