@using EliteAthleteApp.Models.UserMedicalTest

@model UserMedicalTestCreateVM

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CreatedToday" />
    <input type="hidden" asp-for="CreationDate" value="@DateTime.Now" />
    <div class="container">
        <div class="row">
            <!-- Pierwsza kolumna: labele (col-md-3) -->
            <div class="col-md-3">
                <br />
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"><strong>Name:</strong></label>
                </div>
                <br />
                <div class="form-group mb-3">
                    <label asp-for="DateTime" class="control-label"><strong>Date:</strong></label>
                </div>
            </div>

            <!-- Druga kolumna: input fields (col-md-3) -->
            <div class="col-md-3">
                <br />
                <div class="form-group mb-3">
                    <input asp-for="Name" class="form-control" style="height: 70%;" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group mb-3">
                    <input asp-for="DateTime" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="height: 70%;" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group text-end">
                    <button type="submit" class="btn btn-outline-primary-a"><strong>Create</strong></button>
                </div>
            </div>

            <!-- Trzecia kolumna: upload box i przycisk Create (col-md-6) -->
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <div class="media-upload-box">
                        <label for="fileUpload" class="upload-icon">⬆</label>
                        <input type="file" name="fileUpload" id="fileUpload" class="d-none" accept="image/*,application/pdf" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
