@using EliteAthleteApp.Models.UserMedicalTest

@model UserMedicalTestCreateVM

@{
	ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
	<input type="hidden" asp-for="UserId" />
	<input type="hidden" asp-for="Id" />
	<div class="container">
		<div class="row">
			<div class="col-md-3 form-group">
				<div>
					<strong><label asp-for="Name" class="control-label"></label></strong>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div>
					<strong><label asp-for="DateTime" class="control-label"></label></strong>
					<input asp-for="DateTime" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					<span asp-validation-for="DateTime" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-9 form-group">
			</div>
		</div>
		<div class="row align-items-end">
			<div class="form-group col-md-4 text-end">
				<button type="submit" class="btn btn-outline-primary-a"><strong>Save</strong></button>
			</div>
		</div>
	</div>
</form>