@using EliteAthleteAppShared.Models.UserMedicalTest

@model UserMedicalTestMediaVM


<div class="d-flex justify-content-center align-items-center" style="width: 842px; height: 473px;">
    <img src="https://drive.google.com/thumbnail?authuser=0&sz=w320&id=@Model.FileUrl" class="img-thumbnail" style="max-width: 100%; max-height: 100%;" alt="Media Image" />
</div>