@using EliteAthleteApp.Models.TrainingExercise

@model TrainingExerciseCreateVM

@{
	ViewData["Title"] = "Edit";
}


<form asp-action="Edit">
	<input type="hidden" asp-for="CoachId" />
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="ExerciseMediaId" />
	<div class="row">
		<div class="form-group col-md-6">
			<strong><label asp-for="Name" class="control-label"></label></strong>
			<input asp-for="Name" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group col-md-6">
			<strong><label asp-for="YoutubeLink" class="control-label"></label></strong>
			<input asp-for="YoutubeLink" class="form-control">
			<span asp-validation-for="YoutubeLink" class="text-danger"></span>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<strong><label asp-for="ExerciseCategoryId" class="control-label"></label></strong>
			<select asp-for="ExerciseCategoryId" asp-items="Model?.AvailableCategories" class="form-select" style="margin-right: 10px;">
			</select>
			<span asp-validation-for="ExerciseCategoryId" class="text-danger"></span>
		</div>
		<div class="form-group col-md-6">
			<strong><label asp-for="ExerciseMuscleGroupId" class="control-label"></label></strong>
			<select asp-for="ExerciseMuscleGroupId" asp-items="Model?.AvailableMuscleGroups" class="form-select" style="margin-right: 10px;">
			</select>
			<span asp-validation-for="ExerciseMuscleGroupId" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group col-md-12">
		<strong><label asp-for="Description" class="control-label"></label></strong>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="row">
		<div class="form-group form-check col-md-10">
			<input type="checkbox" asp-for="SetAsPublic" class="form-check-input" id="setAsPublicCheckbox" />
			<label class="form-check-label" asp-for="SetAsPublic">&nbsp;<strong>Set as public</strong></label>
			<span asp-validation-for="SetAsPublic" class="text-danger"></span>
		</div>
		<div class="form-group col-md-2 text-end">
			<button type="submit" class="btn btn-outline-primary-a"><strong>Save</strong></button>
		</div>
	</div>
</form>
