@using EliteAthleteApp.Models.Admin

@model AdminSetExerciseAsPublicVM

@{
	ViewData["Title"] = "ExerciseAsPublic";
}

<form asp-action="ExerciseAsPublic">
	<input type="hidden" asp-for="@Model.TrainingExerciseVM.Id" name="trainingExerciseId" />
	<p>Are you sure you want to set this exercise as public?</p>
	<h5>@Model.TrainingExerciseVM.Name</h5>
	<div class="text-end">
		<button type="submit" class="btn btn-outline-primary-a btn-sm"><strong>Accept</strong></button>
	</div>
</form>
