@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-md-12">
    <h1 class="display-4">Training Plan Web App</h1>
    <p>Created in ASP.NET Core 8 for educational and own purposes.</p>
</div>

<div class="text-center col-md-12">
    <img src="~/images/homephoto.jpg" alt="Opis obrazka" class="img-fluid" />
</div>

<div class="text-end col-md-12">
    <p>Created by: Jędrzej Koriat</p>
</div>
