@{
	ViewData["Title"] = "Privacy Policy & Rules";
}
<div class="text-normal">
@* 	<h2 class="text-primary">@ViewData["Title"]</h2>

	<p>Below, you will find the rules and privacy policy governing the use of our platform:</p> *@

	<br />
	<h2 class="text-primary">Privacy Policy</h2>
	<ul>
		<li><strong>Personal Information</strong>: We collect and process your personal information, including your Name, Surname, and Email, to provide and enhance our training management services.</li>
		<li><strong>Data Protection</strong>: Your data is securely stored and will not be shared with third parties without your consent, except as required by law.</li>
		<li><strong>Usage Data</strong>: We may collect anonymized usage data to improve our platform's functionality and user experience.</li>
	</ul>
	<br />
	<h2 class="text-primary">User Responsibilities</h2>
	<ul>
		<li><strong>Accurate Information</strong>: You must provide accurate and up-to-date information during registration and use of the platform.</li>
		<li><strong>Account Security</strong>: Keep your login credentials confidential. You are responsible for any activity conducted through your account.</li>
		<li>
			<strong>Prohibited Activities</strong>:
			<ul>
				<li>Misusing the platform or attempting unauthorized access.</li>
				<li>Sharing harmful, defamatory, or offensive content.</li>
				<li>Violating any applicable laws while using the platform.</li>
			</ul>
		</li>
	</ul>
	<br />
	<h2 class="text-primary">Consequences of Rule Violations</h2>
	<p>Failure to comply with these rules may result in suspension or permanent removal of your account.</p>

	<br />
	<h2 class="text-primary">General Disclaimers</h2>
	<ul>
		<li><strong>Service Availability</strong>: We strive to ensure continuous availability of the platform but cannot guarantee uninterrupted or error-free operation.</li>
		<li><strong>Liability</strong>: We are not responsible for any loss or damage resulting from the misuse of our services or technical issues beyond our control.</li>
		<li><strong>Modifications</strong>: The Rules & Privacy Policy are subject to change. Users will be notified of significant updates, and continued use of the platform implies acceptance of the revised terms.</li>
	</ul>

	<br />
	<h2 class="text-primary">Contact</h2>
	<p>For inquiries or concerns about our policies, please contact our support team at <strong>eliteathleteapp@op.pl</strong>.</p>
</div>
