@using TrainingPlanApp.Web.Models.Exercise

@model ExerciseDeleteVM

@{
	ViewData["Title"] = "Delete";
}

<form asp-action="Delete">
	<input type="hidden" asp-for="Id" />
	<p>Are you sure you want to delete this exercise?</p>
	<h5>@Model.Name</h5>
	<div class="text-end">
		<button type="submit" class="btn btn-danger"><strong>Delete</strong></button>
	</div>
</form>
