@model ExerciseVM

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name </h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            @{
                var mainVideoUrl = Model.VideoLink;
                var mainVideoId = mainVideoUrl.Split(new[] { "v=" }, StringSplitOptions.None)[1];
                var mainEmbedUrl = "https://www.youtube.com/embed/" + mainVideoId;
            }
            <iframe width="840" height="472" src="@mainEmbedUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </dd>
        <div class="col-sm-5 d-flex flex-column">
            <!-- Description label -->
            <div class="mb-2" style="font-weight: bold; font-size: 1.2em;">
                @Html.DisplayNameFor(model => model.Description)
            </div>

            <!-- Description text -->
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>

    </dl>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>  &nbsp;
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
</div>
