@using EliteAthleteAppShared.Models.TrainingPlan

@model TrainingPlanChangeStatusVM

@{
	ViewData["Title"] = "ChangeStatus";
}

<div class="row">
	<form asp-action="ChangeStatus">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="TrainingModuleId" />
		<div class="form-group col-md-12">
			<label asp-for="Raport" class="control-label"></label>
			<textarea asp-for="Raport" class="form-control"></textarea>
			<span asp-validation-for="Raport" class="text-danger"></span>
		</div>
		<div class="text-end">
			<button type="submit" class="btn btn-outline-primary-a">Change Status</button>
		</div>
	</form>
</div>
