@using EliteAthleteApp.Models.TrainingPlan

@model TrainingPlanCopyVM

@{
	ViewData["Title"] = "Copy";
}
<div class="row">
	<form asp-action="Copy">
		<input type="hidden" asp-for="CopyFromId" />
		<input type="hidden" asp-for="TrainingModuleId" />
		<div class="form-group">
			<label for="copyToSelect">Select Plan to Copy to</label>
			<select id="copyToSelect" name="copyToId" class="form-control">
				@foreach (var item in Model.TrainingPlanVMs.OrderBy(m => m.Date))
				{
					var backgroundColor = item.IsEmpty ? "background-color: var(--primary-color);" : "background-color: var(--danger-color);";
					var textColor = "color: white;";
					<option value="@item.Id" style="@backgroundColor @textColor">@item.Name</option>
				}
			</select>
		</div>
		<div class="text-end">
			<button type="submit" class="btn btn-outline-primary-a">Copy</button>
		</div>
	</form>
</div>