@model TrainingPlanVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TrainingPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExerciseFirstId" class="control-label"></label>
                <select asp-for="ExerciseFirstId" class="form-control" asp-items="ViewBag.ExerciseFirstId"></select>
                <span asp-validation-for="ExerciseFirstId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseSecondId" class="control-label"></label>
                <select asp-for="ExerciseSecondId" class="form-control" asp-items="ViewBag.ExerciseSecondId"></select>
                <span asp-validation-for="ExerciseSecondId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseThirdId" class="control-label"></label>
                <select asp-for="ExerciseThirdId" class="form-control" asp-items="ViewBag.ExerciseThirdId"></select>
                <span asp-validation-for="ExerciseThirdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseFourthId" class="control-label"></label>
                <select asp-for="ExerciseFourthId" class="form-control" asp-items="ViewBag.ExerciseFourthId"></select>
                <span asp-validation-for="ExerciseFourthId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

