@using EliteAthleteAppShared.Models.TrainingPlan

@model TrainingPlanRemoveExerciseVM


@{
	ViewData["Title"] = "RemoveExercise";
}


<form asp-action="RemoveExercise">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="TrainingPlanId" />
	<p>Are you sure you want to remove this exercise?</p>
	<h5>@Model.Name</h5>
	<div class="text-end">
		<button type="submit" class="btn btn-outline-danger-a btn-sm"><strong>Remove</strong></button>
	</div>
</form>
