@using EliteAthleteAppShared.Models.UserBodyAnalysis

@model UserBodyAnalysisCreateVM

@{
	ViewData["Title"] = "Edit";
}

<form asp-action="Edit" enctype="multipart/form-data">
	<input type="hidden" asp-for="UserId" />
	<input type="hidden" asp-for="Id" />
	<div class="container">
		<div class="row">
			<!-- Pierwsza kolumna: labele (col-md-3) -->
			<div class="col-md-3">
				<div class="form-group mb-3">
					<label asp-for="Weight" class="control-label"><strong>Weight:</strong></label>
				</div>
				<div class="form-group mb-3">
					<label asp-for="FatPercentage" class="control-label"><strong>Fat Percentage:</strong></label>
				</div>
				<div class="form-group mb-3">
					<label asp-for="MusclePercentage" class="control-label"><strong>Muscle Percentage:</strong></label>
				</div>
				<div class="form-group mb-3">
					<label asp-for="WaterPercentage" class="control-label"><strong>Water Percentage:</strong></label>
				</div>
				<div class="form-group mb-3">
					<label asp-for="DateTime" class="control-label"><strong>Date:</strong></label>
				</div>
			</div>

			<!-- Druga kolumna: input fields (col-md-3) -->
			<div class="col-md-3">
				<div class="form-group mb-3">
					<input asp-for="Weight" class="form-control col-md-12" style="height: 70%;" />
				</div>
				<div class="form-group mb-3">
					<input asp-for="FatPercentage" class="form-control col-md-12" style="height: 70%;" />
				</div>
				<div class="form-group mb-3">
					<input asp-for="MusclePercentage" class="form-control col-md-12" style="height: 70%;" />
				</div>
				<div class="form-group mb-3">
					<input asp-for="WaterPercentage" class="form-control col-md-12" style="height: 70%;" />
				</div>
				<div class="form-group mb-3">
					<input asp-for="DateTime" class="form-control col-md-12" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="height: 70%;" />
				</div>
			</div>

			<!-- Trzecia kolumna: upload box i przycisk Save (col-md-6) -->
			<div class="col-md-6">
				<div class="form-group mb-3">
					<div class="media-upload-box">
						@if (string.IsNullOrEmpty(Model.FileUrl))
						{
							<label for="fileUpload" class="upload-icon" id="uploadIcon">⬆</label>
							<input type="file" name="fileUpload" id="fileUpload" class="d-none" accept="image/*,application/pdf" onchange="previewImage(this)" />
							<div action="preview-thumbnail">
								<img id="previewFile" class="d-none" controls width="100%" />
							</div>
						}
					</div>
				</div>

				<div class="form-group text-end">
					<button type="submit" class="btn btn-outline-primary-a"><strong>Save</strong></button>
				</div>
			</div>
		</div>
	</div>
</form>
