@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    div.dataTables_scrollBody.dropdown-visible {
        overflow: visible !important;
    }

    .custom-progress {
        height: 30px; /* Wysokoœæ paska, mo¿esz dostosowaæ do swoich potrzeb */
    }

}
