@using EliteAthleteApp.Models.User

@model AdminUserDeleteVM

@{
	ViewData["Title"] = "UserDelete";
}

<form asp-action="UserDelete">
	<input type="hidden" asp-for="@Model.UserVM.Id" value="@Model.UserVM.Id" />
	<p>Are you sure you want to delete this user?</p>
	<h5>@Model.UserVM.FirstName @Model.UserVM.LastName</h5>
	<div class="text-end">
		<button type="submit" class="btn btn-outline-danger-a"><strong>Delete</strong></button>
	</div>
</form>